<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chat Box</title>

  <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
  <div id="chatModule">
  <div class="header">
    <img class="logo" src="../assets/logo-best-brands.png"/>
    <img class="closeBtn" src="../assets/btn-close.png"/>
  </div>
  <div class="content">
    <div id="currentRoute" class="routes">
      <span>Home</span>
      <span class="forwardSlash">/</span>
      <span>Existing Service</span>
      <span class="forwardSlash">/</span>
      <span>Mobile</span>
    </div>
    <div class="title">Which Mobile topic would you like help with?</div>
    <ul class="routes">
      <li class="billPayments">
        <div class="img_wrap"><img src="../assets/bill-payments.png" /></div>
        <span>Billing and Payments</span>
      </li>
      <li>
        <div class="img_wrap"><img src="../assets/technical-support-cog.png" /></div>
        <span>Technical Support</span>
      </li>
      <li>
        <div class="img_wrap"><img src="../assets/account-login-support.png" /></div>
        <span>Account Login Support</span>
      </li>
      <li>
        <div class="img_wrap"><img src="../assets/other-cogs.png" /></div>
        <span>Other</span>
      </li>
    </ul>
    <div class="back_button routes">
      <img src="../assets/btn-back.png"/>
    </div>
    <div class="preChatSurvey hidden">
      <div class="name">
        <div class="label">Full Name:*</div>
        <input id="preChatFullName" placeholder="John Doe" />
      </div>
      <div class="number">
        <div class="label">Mobile Phone Number:*</div>
        <input id="preChatMobilePhoneNumber" placeholder="ex: 123-123-1234" />
      </div>
      <div class="state">
        <div class="label">State:*</div>
        <div class="select-style">
          <select>
            <option selected disabled hidden style='display: none' value=''>Select one</option>
            <option id="preChatState" value="California">California</option>
          </select>
        </div>
      </div>
      <div class="describeQuestion">
        <div class="label">Describe your question:*
        <textarea id="preChatDescribeQuestion"></textarea>
      </div>
      <div id="startChat"><img src="../assets/btn-chat.png"/></div>
      </div>
    </div>
  </div>
   <div class="footer">
    <img src="../assets/logo-tc.png" />
   </div>
  </div>
  <script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>