<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pre-chat Survey</title>

  <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
  <div id="chatModule">
  <div class="header">
    <img class="logo" src="../assets/logo-best-brands.png"/>
    <img class="closeBtn" src="../assets/btn-close.png"/>
  </div>
  <div class="content">
    <div class="title">Which Mobile topic would you like help with?</div>
    <div class="preChatSurvey">
      <div class="name">
        <div class="label">Full Name:*</div>
        <input id="preChatFullName" placeholder="John Doe" />
      </div>
      <div class="number">
        <div class="label">Mobile Phone Number:*</div>
        <input id="preChatMobilePhoneNumber" placeholder="ex: 123-123-1234" />
      </div>
      <div class="state">
        <div class="label">State:*</div>
        <div class="select-style">
          <select>
            <option selected disabled hidden style='display: none' value=''>Select one</option>
            <option id="preChatState" value="California">California</option>
          </select>
        </div>
      </div>
      <div class="describeQuestion">
        <div class="label">Describe your question:*
        <textarea id="preChatDescribeQuestion"></textarea>
      </div>
      <div id="startChat"><img src="../assets/btn-chat.png"/></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <img src="../assets/logo-tc.png" />
  </div>
  <script src="../js/jquery-3.1.0.min.js"></script>
</body>
</html>