<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Routing Guide</title>

  <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
  <div id="chatModule" style="height: 623px">
  <div class="header">
    <img class="logo" src="../assets/logo-best-brands.png"/>
    <img class="closeBtn" src="../assets/btn-close.png"/>
  </div>
  <div class="content">
    <div class="title">Which Mobile topic would you like help with?</div>
    <div class="preChatSurvey">
      <div class="name">
        <div class="">Full Name:*</div>
        <input id="preChatFullName" />
      </div>
      <div class="number">
        <div class="">Mobile Phone Number:*</div>
        <input id="preChatMobilePhoneNumber" />
      </div>
      <div class="state">
        <div class="">State:</div>
        <input id="preChatState" />
      </div>
      <div class="describeQuestion">
        <div class="">Describe your question...</div>
        <textarea id="preChatDescribeQuestion"></textarea>
        <input />
      </div>
      <div id="startChat"><img src="../assets/btn-chat.png"/></div>
    </div>
  </div>
   <div class="footer">
    <img src="../assets/logo-tc.png" />
   </div>
  </div>
  <script src="../js/jquery-3.1.0.min.js"></script>
</body>
</html>