<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Routing Guide</title>

  <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
  <div id="chatModule" style="height: 623px">
  <div class="header">
    <img class="logo" src="../assets/logo-best-brands.png"/>
    <img class="closeBtn" src="../assets/btn-close.png"/>
  </div>
  <div class="content">
    <div class="title">Which Mobile topic would you like help with?</div>
    <div class="preChatSurvey">
      <div class="name"></div>
      <div class="number"></div>
      <div class="state"></div>
      <div class="describeQuestion"></div>
      <div class="startChatWrap"><img src="btn-chat"/></div>
    </div>
  </div>
   <div class="footer">
    <img src="../assets/logo-tc.png" />
   </div>
  </div>
  <script src="../js/jquery-3.1.0.min.js"></script>
</body>
</html>