<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Routing Guide</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
	<div id="chatModule">
   <div class="header">
      <img class="logo" src="../assets/logo-best-brands.png"/>
      <img class="closeBtn" src="../assets/btn-close.png"/>
   </div>
   <div class="content">
     <div class="route">
       <span>Home</span>
       <span class="forwardSlash">/</span>
       <span>Existing Service</span>
       <span class="forwardSlash">/</span>
       <span>Mobile</span>
     </div>
     <h4>Which Mobile topic would you like help with?</h4>
   </div>
   <div class="footer"></div>
  </div>
  <script src="../js/jquery-3.1.0.min.js"></script>
</body>
</html>