<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Routing Guide</title>

  <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
	<div id="chatModule">
  <div class="header">
    <img class="logo" src="../assets/logo-best-brands.png"/>
    <img class="closeBtn" src="../assets/btn-close.png"/>
  </div>
  <div class="content">
    <div id="currentRoute" class="routes">
      <span>Home</span>
      <span class="forwardSlash">/</span>
      <span>Existing Service</span>
      <span class="forwardSlash">/</span>
      <span>Mobile</span>
    </div>
    <div class="title">Which Mobile topic would you like help with?</div>
    <ul class="routes">
      <li>
        <div class="img_wrap"><img src="../assets/tmp-bill-payments.png" /></div>
        <span>Billing and Payments</span>
      </li>
      <li>
        <div class="img_wrap"><img src="../assets/technical-support-cog.png" /></div>
        <span>Technical Support</span>
      </li>
      <li>
        <div class="img_wrap"><img src="../assets/account-login-support.png" /></div>
        <span>Account Login Support</span>
      </li>
      <li>
        <div class="img_wrap"><img src="../assets/other-cogs.png" /></div>
        <span>Other</span>
      </li>
    </ul>
    <div class="back_button">
      <img src="../assets/btn-back.png"/>
    </div>
  </div>
   <div class="footer">
    <img src="../assets/logo-tc.png" />
   </div>
  </div>
  <script src="../js/jquery-3.1.0.min.js"></script>
</body>
</html>